body.login {
	background-color: #fffefc;
	color: #222222;
	font-family: "Helvetica Neue", Helvetica, Arial, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "Nimbus Sans L", "Liberation Sans", Tahoma, Geneva, sans-serif;;
	font-size: calc( 15px + 2 * (100vw / 1500));
	line-height: 1.75;
    margin: 1.5rem;
}

#login {
	display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    max-width: 38em;
}

.login #login_error, 
.login .message, 
.login .success {
	border: none;
	background: #222;
	padding: 1.5rem 2rem;
	margin: .5rem 0 2rem;
	border-radius: .25rem;
	box-shadow: 0px 1px 20px rgba( 0, 0, 0, .1 );

	color: #fff;
}

#loginform,
#lostpasswordform,
#registerform {
	border: none;
	background-color: transparent;
	box-shadow: none;
	padding: 0 0 2rem 0;
	border-bottom: 1px solid #222;
}

.login #nav {
	visibility: hidden;
	padding: 0;
	font-size: calc( 15px + 2 * (100vw / 1500));
}

.login #backtoblog {
	padding: 0;
	font-size: calc( 15px + 2 * (100vw / 1500));
}

.login #nav a {
	visibility: visible;
	display: block;
}

.login h1 {
	display: none;
}

.login button,
.login input[type="button"],
.login input[type="reset"],
.login input[type="submit"] {
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;

	font-weight: bolder;
    line-height: 1.5;
}

.login .forgetmenot {
	display: none;
}

.login label,
.login form .forgetmenot label {
	display: block;
	margin-bottom: .25rem;
	font-size: calc( 15px + 2 * (100vw / 1500));
	color: #222222;
    line-height: 1.75;

	font-weight: bolder;
}

.login .button-primary,
.login .submit {
	clear: both;
	float: none;
	box-shadow: none;
	padding: 0 !important;

	font-size: calc( 15px + 2 * (100vw / 1500));
	color: #222222;
    text-decoration: none;
    text-shadow: none;
}

button:hover,
.login input[type="button"]:hover,
.login input[type="reset"]:hover,
.login input[type="submit"]:hover {
	color: #888;
	background-color: transparent;
	border-color: transparent;
}

.login button:active, button:focus,
.login input[type="button"]:active,
.login input[type="button"]:focus,
.login input[type="reset"]:active,
.login input[type="reset"]:focus,
.login input[type="submit"]:active,
.login input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

.login input[type="text"],
.login input[type="email"],
.login input[type="url"],
.login input[type="password"],
.login input[type="search"],
.login input[type="number"],
.login input[type="tel"],
.login input[type="range"],
.login input[type="date"],
.login input[type="month"],
.login input[type="week"],
.login input[type="time"],
.login input[type="datetime"],
.login input[type="datetime-local"],
.login input[type="color"],
select,
textarea {
	width: 100%;
	color: #999;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: .25rem;
	margin-bottom: .5rem;
	font-size: calc( 15px + 2 * (100vw / 1500)) !important;
	font-weight: normal;

	height: 2rem;
	padding: .25rem .5rem;

	line-height: 1.5;
}

.login input[type="text"]:focus,
.login input[type="email"]:focus,
.login input[type="url"]:focus,
.login input[type="password"]:focus,
.login input[type="search"]:focus,
.login input[type="number"]:focus,
.login input[type="tel"]:focus,
.login input[type="range"]:focus,
.login input[type="date"]:focus,
.login input[type="month"]:focus,
.login input[type="week"]:focus,
.login input[type="time"]:focus,
.login input[type="datetime"]:focus,
.login input[type="datetime-local"]:focus,
.login input[type="color"]:focus,
textarea:focus {
	color: #111;
}

.login select {
	border: 1px solid #ccc;
}

.login textarea {
	width: 100%;
}